services:
  frontend:
    build:
      context: ./frontend
      dockerfile: ./Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app:Z
      - /app/node_modules
    environment:
      - VITE_API_BASE_URL=http://localhost:8080
    depends_on:
      - backend
  backend:
    build:
      context: ./backend
      dockerfile: ./Dockerfile.dev
    command: air
    environment:
      - SEED_DB=true
    depends_on:
      neo4j:
        condition: service_healthy
    volumes:
      - ./backend:/app:Z
    ports:
      - "8080:8080"
    restart: unless-stopped
  neo4j:
    image: neo4j:5
    container_name: neo4j
    environment:
      - NEO4J_AUTH=neo4j/testpassword
    ports:
      - "7474:7474"
      - "7687:7687"
    healthcheck:
      test: ["CMD-SHELL", "wget -q --spider http://localhost:7474 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped
